/* estilo.css */
* { margin:0; padding: 0; }
footer { background-color: #222; min-height: 180px; color:#999; padding:40px; }
header { background-color: #000; }
nav { min-height: 90px; margin-bottom: 0 !important;  }

#main { padding: 50px; background: linear-gradient(135deg, #35b8b0 0%,#1c799d 100%);  }
#main img  { max-height: 400px; }
#middle { margin: 50px 0; }
#logo { margin:20px 0; }

.lista_footer { margin-top:35px; }
.link_menu { margin-top:20px; }
.link_menu a{ color:#9bbd46 !important; padding:10px;  }
.link_menu a:hover{ background-color:#9bbd46 !important; color:#111 !important; }
.center { text-align: center }